# Get Tweets using snscrape

In [1]:
!pip install -q snscrape

Refine search to specific country (e.g. SA, Kenya, Tz)

Focus metros will be Johannesburg, Nairobi, Dar es Salaam

Decide the date, justify? - five years back, also looking into the COVID period 2019 - 2020

**SA search terms** (Johannesburg): prasa, metrorail, taxi, public transport, putco, gautrain, rea vaya, a re yeng, bus, train, shosholoza meyl, metrobus 

**Kenya search terms** (Nairobi): 'matatu', 'kencom', 'citihoppa', 'public transport', 'boda boda', 'bus', 'kbs', 'mathree', 'ma3', 'tuk tuk', 'BasiGo', 'hoppaciti'

**Tanzanian search terms**(Dar es Salaam): Dala dala, dala dala, daladala, dalla dalla, boda boda, dart, bus, train, ferry, bajaj

In [2]:
import os
import pandas as pd
from datetime import date
import snscrape.modules.twitter as sntwitter
import json

In [34]:
today = date.today()
end_date = today
from_date = '2018-01-01'
search_terms = ['daladala', 'boda boda', 'dart', 'bus', 'train', 'ferry', 'bajaj']
location = 'Dar es Salaam'

In [35]:
# Define an empty dictionary to store dataframes
dfs = {}

# Iterate through the list of search terms
for term in search_terms:
    # Create an empty list to append tweet data to
    tweets_list = []
    
    # Use TwitterSearchScraper to scrape data and append tweets to list
    for i, tweet in enumerate(sntwitter.TwitterSearchScraper(f'{term} since:{from_date} until:{end_date} near:{location} within:50km').get_items()):
        if i > 1000:
            break
        tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.user.location])
    
    # Create a dataframe from the tweets list for the current search term
    df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username', 'Location'])
    
    # Add the dataframe to the dictionary with the search term as the key
    dfs[term] = df

<ipython-input-35-6e79f01fd814>:13: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.user.location])

In [43]:
dfs['bajaj']

,Datetime,Tweet Id,Text,Username,Location
0,2021-10-08 09:02:52+00:00,1446400692059529228,Nasikia tuna safirisha ðŸ¤£ðŸ¤£ðŸ¤£\n\n@wizzypixel A.K....,PixelWizzy,dar es salaam
1,2021-03-16 13:24:49+00:00,1371814713844109314,We are your Motor Cycle Battery Experts in tow...,africabatteries,"Dar Es Salaam , Tanzania."
2,2020-04-01 09:21:32+00:00,1245280123403800577,"BODABODA, BAJAJ RUKSA KUINGIA MJINI\n\nMkuu wa...",JAMVILAHABARI,"Dar es Salaam, Tanzania"
3,2019-03-01 04:42:02+00:00,1101341804618690560,Tanzania Trade Fair 2019 ... participation of ...,beenakoshy,
4,2019-03-01 04:37:31+00:00,1101340668473929728,Bajaj Electricals at the Tanzania trade fair 2...,beenakoshy,
5,2018-12-21 07:38:29+00:00,1076019057890074624,"In Dar Es Salaam, The Business and Busiest Cit...",mtaliitravels,"Dar es Salaam, Tanzania"
6,2018-07-18 14:49:14+00:00,1019594953532600320,Safari bora ðŸš— huanza unapoendeshwa kwa Bajaj u...,MondoRide255,"Dar es Salaam, Tanzania"
7,2018-02-02 08:38:58+00:00,959345386237382656,"Wamiliki wa magari, bajaj na bodaboda mikoa ya...",Sajjo,"Salt Lake City, UT"

In [37]:
# Save the dfs dictionary to a JSON file
with open('TZ-tweets.json', 'w') as f:
    json.dump({k: v.to_json() for k, v in dfs.items()}, f)

In [ ]:
# with open('dfs.json', 'r') as f:
#     dfs = {k: pd.read_json(v) for k, v in json.load(f).items()}

## South African Tweets

In [7]:
# # Concatenate multiple search terms with the OR operator
# search_term = 'metrobus'

# # country geocode
# latitude = '37.781157'
# longitude = '-122.40061283'
# radius = '50km'
# geocode = f"{latitude},{longitude},{radius}"

# os.system(f"snscrape --since {from_date} twitter-search '{search_term} near:'Johannesburg' within:50km until:{end_date}' > results-tweets-SA.txt")
# # os.system(f"snscrape --since {from_date} twitter-search '{search_term} until:{end_date}' > results-tweets-SA.txt")
# if os.stat("results-tweets-SA.txt").st_size==0:
#   counter = 0
# else:
#   df = pd.read_csv('results-tweets-SA.txt', names=['link'])
#   counter = df.size

# print('Number of tweets: '+ str(counter))

In [8]:
# max_results = counter

In [9]:
# # Extracting tweets from derived links
# extracted_tweets = "snscrape --format '{content!r}'" + f" --max-results {max_results} --since {from_date} twitter-search '{search_term} until:{end_date}' > extracted-tweets-SA.txt"
# # extracted_tweets = "snscrape --format '{content!r}'" + f" --max-results {max_results} --since {from_date} twitter-search '{search_term} until:{end_date}' > extracted-tweets-SA.txt"
# os.system(extracted_tweets)
# if os.stat("extracted-tweets-SA.txt").st_size == 0:
#   print('No Tweets found')
# else:
#   df = pd.read_csv('extracted-tweets-SA.txt', names=['content'])
#   # df = pd.read_csv('extracted-tweets-SA.txt', names=['content'])
#   for index, row in df.iterrows():
#     print("Content:", row['content'])
#     # print("Timestamp:", row['created_at'])
#     # print("Geotag:", row['geotag'])